/* Begin Admin Home  */
.admin {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 15rem auto;
} 

.admin .btn {
    width: 13rem;
    height: 5rem;
    font-size: larger;
}

.header {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
    padding-top: 18px;
    justify-content: space-around;
}

.header .btn {
    height: 3rem;
}
/* end admin Home  */



/* Begin Admin Reservations  */

table.table {
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; */
}

table.table thead tr {
    background-color: #36304a;
}

table.table thead tr th {
    color: whitesmoke;
}


/* end admin Reservations  */

table.table tbody .tr-order :nth-child(-n + 4) {
    cursor: pointer;
    
}



/* One order  */

table.table tbody tr td.action {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.form-search>div>input{
    width: 16rem;
}
.form-search>div {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
/* Begin Admin ORDERS  */

div.pup-up {
    position: absolute;
    left: 42.2rem;
    background: white;
    width: 16rem;
    top: 7.1rem;
}

.list-group {
    width: 16rem;
}